.buttonsContainer {
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

button:disabled  {
    opacity: 0.5;
}

.clock {
    font-size: 20px;
}

.watch {
}

.watch strong {
}

.more {
    opacity: 0.5;
    font-size: 20px;
}

